<main class="main">
  <div class="content">
    <div class="content__inner">
      <h1 class="content__title">Bienvenida a MemeNook! Tendo: MemeNook</h1>
      <p class="content__description">
         Aquí puedes ver todos los residentes con informacion importante
      </p>
      <div class="content__villagers">
        <h2 class="content__subtitle">Residentes</h2>
        <div>
        <div>
            <h2>Busca uno:</h2>
            <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar por nombre...">
        </div>

        <p *ngIf="isLoading">Cargando residentes...</p>
        <p *ngIf="errorMessage">{{ errorMessage }}</p>

        <table>
            <tr>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Personalidad</th>
                <th>Genero</th>
            </tr>
            <tr *ngFor="let villager of filteredVillagers">
                <td>{{ villager.name }}</td>
                <td>{{ villager.species }}</td>
                <td>{{ villager.personality }}</td>
                <td>{{ villager.gender }}</td>
            </tr>
        </table>
        </div>
      </div>
    </div>
  </div>
</main>
