button{
  margin: 30px;
  padding: 10px 20px;
  background-color: #c1c1c1; /* Verde */
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 24px;
  box-shadow: #333 1px 10px 75px;
  height: 100px;
  width: auto;
}
h1 {
  color: #000000;
  text-shadow: #333 1px 1px 2px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}